* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: #3a3a3a;
  display: inline-block;
}

li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background-color: coral;
  transition: all, 0.5s;
}

li a:hover::after {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  transition: transform 0.5s ease-in-out;
}

.hero-img {
  width: 400px;
  height: auto;
}

.content-left {
  width: 35%;
}

.logo img {
  border-radius: 50%;
}

main h3 {
  font-size: 25px;
  color: rgb(123, 123, 123);
  font-weight: 400;
}

main h1 {
  font-size: 50px;
  color: rgb(56, 56, 56);
  font-weight: 700;
}
main h2 {
  margin-top: -10px;
  font-size: 25px;
  color: rgb(85, 85, 85);
  font-weight: 400;
}

.btn {
  padding: 15px 30px;
  margin-top: 20px;
  background-color: coral;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  font-weight: 700;
}

.input {
  padding: 15px 30px;
  margin-top: 20px;
  background-color: coral;
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  font-weight: 400;
}

main .social-links {
  width: 30%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.social-links img {
  height: 40px;
  padding: 5px;
}

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-layout p {
  width: 50%;
}
