#modal-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-view.hidden {
  display: none;
}

#album-view img {
  height: 150px;
  border: 2px solid gray;
  border-radius: 25%;
  margin: 5px;
  padding: 20px;
}

#modal-view img {
  height: 300px;
}

h1 {
  color: rgb(55, 46, 46);
}

.no-scroll {
  overflow: hidden;
}
